@model IEnumerable<FurnitureShop.Models.FurnContactu>

@{
    ViewData["Title"] = "GuestsEmails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>GuestsEmails</h1>
<div class="card">
<table class="table" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Namee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Namee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                    <a href="mailto:@item.Email?subject=Hello%20from%20Furniture%20World&body=How%20are%20you @item.Namee">Reply</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>