@model IEnumerable<FurnitureShop.Models.FurnProduct>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Products</h1>

<div class="card">
  <table class="table table-striped table-hover" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Namee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Namee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <img src=@Url.Content("~/Images/" + item.ImagePath)
                     asp-append-version="true" style="border-radius:20%;" width="100" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
        </tr>
}
    </tbody>
</table>
</div>