@model IEnumerable<FurnitureShop.Models.FurnProductOrder>

@{
    ViewData["Title"] = "Report";
    Layout = "_AdminLayout";
}

<h1>Report</h1>

<div class="row">

    <div class="col-6">

        <form asp-action="Report" method="post">
            <label for="stratDate">Start Date</label>
            <input type="date" class="form-control" name="stratDate" id="stratDate" placeholder="Start Date">
            <label for="endDate">End Date</label>
            <input type="date" class="form-control" name="endDate" id="endDate" placeholder="End Date">

            <button type="submit" class="btn btn-info">Search</button>

        </form>

    </div>

    <div class="card">
        <table class="table table-striped table-hover" id="datatable">
            <thead>
                <tr>
                    <th>
                        product name
                    </th>
                    <th>
                        customer name
                    </th>
                    <th>
                        category name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Product.Namee
                        </td>
                        <td>
                            @item.Order.User.Fullname
                        </td>
                        <td>
                            @item.Product.Category.CategoryName
                        </td>
                        <td>
                            @item.Product.Price
                        </td>
                        <td>
                            @item.Order.Datee
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>Total price</td>
                    <td></td>
                    <td></td>
                    <td>
                        @ViewBag.total
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>


    @*<table class="table" id="datatable">
    <thead>
        <tr>
            <th>
                product name
            </th>
            <th>
                customer name
            </th>
            <th>
                category name
            </th>
            <th>
                Price
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Namee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.User.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Datee)
            </td>
        </tr>
}
    </tbody>
</table>*@
