@model IEnumerable<FurnitureShop.Models.FurnProduct>
@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card" >
    <table class="table table-hover" style="font-weight:400;font-size:24px;color:#000000c4;font-family: 'Roboto', 'Arial', sans-serif; text-align:center;vertical-align:middle" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Namee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valuee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Namee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valuee)
            </td>
            <td>
                 <img src=@Url.Content("~/Images/" + item.ImagePath)
                  asp-append-version="true" style="border-radius:20%;" width="100" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
        <tfoot>
            <tr>
                <td>Total price</td>
                <td>
                    @ViewBag.total
                </td>
            </tr>
        </tfoot>
</table>
</div>
