@model FurnitureShop.Models.prodSearch
@{
    ViewData["Title"] = "Products";
    Layout = "_CustomerLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products</title>
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
            margin:1rem;
        }

        .price {
            color: grey;
            font-size: 22px;
        }

        .card a {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 50%;
            font-size: 18px;
        }

            .card a:hover {
                opacity: 0.7;}
    </style>
</head>
<body class="container">
    <br />
    <form asp-controller="Customer" asp-action="Products" method="get">
        <p>
            Title: <input type="text" name="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    <div class="row">
    @foreach (var item in Model.products!)
    {
        <div class="col-lg-4">
    <div class="card">
        <img src=@Url.Content("~/Images/" + item.ImagePath)
             asp-append-version="true" style="width:150; height:250px;">
        <h2>@item.Namee</h2>
        <p class="price">@item.Price JD</p>
        <p>@item.Category.CategoryName</p>
        <p><a class="btn btn-warning" href="@Url.Action("shopping","Customer",new{id=item.Id})">Add To Cart</a></p>
        <p><a class="btn btn-success" href="@Url.Action("AddToFavourate","Customer",new{id=item.Id})">Make Favourate</a></p>
            
    </div></div>
    }
    </div>

   
</body>
</html>
