@model FurnitureShop.Models.FurnUserAccount

@{
    ViewData["Title"] = "View Profile";
    Layout = "_CustomerLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewProfile</title>
    <meta charset="utf-8">
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <style>
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 450px;
            background: #000
        }

        .profile {
            position: relative;
            width: 300px;
            height: 350px;
            background: url("/Images/@Model.ImagePath");
            background-size: cover;
            cursor: pointer;
            border: 12px;
            border-top-right-radius: 35px !important;
            border-radius: 6px
        }

        .overlay {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.8);
            border-radius: 12px;
            cursor: pointer;
            opacity: 0;
            transition: all 1s;
            border-top-right-radius: 35px !important;
            border-radius: 6px
        }

        .profile:hover .overlay {
            opacity: 1
        }

        .social-icons {
            display: flex;
            list-style: none;
            bottom: 10px;
            position: absolute;
            text-align: center;
            justify-content: center;
            left: 22px
        }

            .social-icons li {
                width: 25px;
                height: 25px;
                border: 1px solid #fff;
                padding: 20px;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                border-radius: 5px;
                transition: all 1s
            }

                .social-icons li:hover {
                    background: #fff;
                    color: #000
                }

        .overlay .about {
            position: relative;
            justify-content: center;
            align-items: center;
            display: flex;
            top: 40%;
            color: #fff;
            flex: none;
        }
    </style>
</head>
<body>

        
        <div class="wrapper">
            <div class="profile">
                <div class="overlay">
                    <div class="about d-flex flex-column">
                        <h4 style="color:aliceblue">@Html.DisplayFor(model => model.Fullname)</h4> <span>@Html.DisplayFor(model => model.Phone)</span><span>@Html.DisplayFor(model => model.Email)</span>
                    </div>
                    <ul class="social-icons">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                    </ul>
                </div>
            </div>
        </div>

</body>
</html>
@*<h4>FurnUserAccount</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Fullname)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Fullname)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Phone)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Phone)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ImageFile)
    </dt>
    <dd>
        <img src=@Url.Content("~/Images/" + Model.ImagePath)
             asp-append-version="true" style="border-radius:20%;" width="100" height="100" />
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Email)
    </dd>

</dl>*@